<div class="align-comp">

<button mat-raised-button color="primary" (click)="returnToList()">Back</button>
<br><br>
<hr>
<h3>Person Details: </h3>
<form #form="ngForm">
    <div class="container col-md-8">
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" id="name" class="form-control"
         maxlength="70"
         [(ngModel)]="name" 
         name="name" required 
         [formControl]="nameControl">
        </mat-form-field>
        <div *ngIf="!nameControl.valid">
            <mat-error>Enter Valid Name Value</mat-error>
        </div>
    </div>
    <div>
        <mat-button-toggle-group [formControl]="activeControl" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="Active">Active</mat-button-toggle>
            <mat-button-toggle value="Disabled">Disabled</mat-button-toggle>
          </mat-button-toggle-group>
          <p>Chosen value is {{activeControl.value}}</p>
    </div>
    <div class="container col-md-8">
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="number" id="name" class="form-control"
         [(ngModel)]="age" name="age" required [formControl]="ageControl" >
        </mat-form-field>
        <div *ngIf="!ageControl.valid">
            <mat-error>Enter Valid Age Value</mat-error>
        </div>
    </div>
    <div>
        <mat-button-toggle-group [formControl]="genderControl" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="Male">Male</mat-button-toggle>
            <mat-button-toggle value="Female">Female</mat-button-toggle>
          </mat-button-toggle-group>
          <p>Chosen value is {{genderControl.value}}</p>
    </div>
    <div class="container col-md-8">
        <mat-form-field class="" appearance="fill">
        <mat-label>About</mat-label>
        <textarea matInput type="text" id="name"
        maxlength="250"
         [(ngModel)]="about" name="about" ></textarea>
        </mat-form-field>
    </div>

</form>
<br>
<button [disabled]="!nameControl.valid || !ageControl.valid" mat-raised-button color="primary" (click)="saveData()">Save</button>
    <br>
</div>